{% extends "admin/base.html" %}
{% load static admin_notification_tags %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} |
    {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}

    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin_notification/css/notifications.css' %}">

{% endblock %}

{% block nav-global %}{% endblock %}
{% block branding %}
    {% get_admin_notification_item as item %}
    <h1 id="site-name">
        <a href="{% url 'check_notifications' %}">
            <div class="notification-box">
                <img class="notification-img" src="{% static 'admin_notification/img/notification.png' %}" alt="">
                <span id="badge">{{ item.count }}</span>
            </div>
        </a>
       <span id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></span>
    </h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"></script>

    <script>
        var sound = new Howl({
            src: ["{% load static 'admin_notification/sound/zvuk-vsplyvaushego-okoshka.mp3' %}"],
            volume: 1,
            loop: true,
        });

        const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/notification/'
        );

        notificationSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data.message)
            document.querySelector('#badge').innerHTML = data.message;
            sound.play();
        };
    </script>


{% endblock %}
